main{




  [ng-cloak] {
    display: none;
  }

  .ng-invalid.ng-touched {
    border: 1px solid #db0303;
  }

  form{
    @include centering(80%);
  }

  table, th, td{
    border: $tableBorder;
    @include centering(80%);
  }

  tr:nth-child(odd){
    background-color: $stripeColor;
  }

  td {
    text-align: center;
  }

  p {
    display: inline;
    font-size: .75em;
  }

}
