<!DOCTYPE html>
<html ng-app="shop">

<head>
  <meta charset="utf-8">
  <title>Shopular</title>

  <link rel="stylesheet" href="normalize.css" type="text/css">
  <link rel="stylesheet" href="style.css" type="text/css">
</head>


<body ng-controller="ShopController as sale">
  <header>
    <h1>Shopular where you can truly shop freely</h1>
  </header>

  <main>

    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Color</th>
      </tr>

      <tr ng-repeat="item in sale.items">
          <td>{{item.name}}</td>
          <td>{{(item.price - item.discount) * sale.taxRate | number:0}}
          <img src="image/sale.jpg" ng-hide="item.discount > 0"></td>
          <td>{{item.quantity}}</td>
          <td>{{item.color}}</td>
      </tr>

    </table>
  </main>

  <main>
    <form ng-submit="sale.addProduct(sale.newItem)">
        <label for="name">Name</label>
      <input id="name"type="text" placeholder="Name" ng-model="sale.newItem.name">
        <label for="Price">Price</label>
      <input id="Price"istype="text" placeholder="Price" ng-model="sale.newItem.price">
        <label for="quantity">Quantity</label>
      <input id="quantity"type="text" placeholder="Quantity" ng-model="sale.newItem.quantity">
        <label for="color">Color</label>
      <input id="color"type="text" placeholder="Color" ng-model="sale.newItem.color">
      <!-- <input type="text" placeholder="Discount" ng-model="newProduct.newItem.discount"> -->

      <input type="submit" value="Submit">

    </form>
  </main>



    <script src="node_modules/angular/angular.js"></script>
    <script src="js/shop.module.js"></script>
    <script src="js/shop.controller.js"></script>


  </body>

  </html>
